   /***********Breakpoints**************
X-Small         None        <576px
Small           sm          ≥576px
Medium          md          ≥768px
Large           lg          ≥992px
Extra-large     xl          ≥1200px
Ex-ex-large     xxl         ≥1400px 
*************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    background-color: #001632;
    color: white;
}

#main-container{
    min-height: 500px;
    background-color: rgb(140, 174, 249);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    font-weight: 700; 
    color: white;
    position: relative;
}

.button-group{
    position: absolute;
    bottom: 20%;
    right: 45%;
}

#reset_button a{
    text-decoration: none;
    color: #ffffff;
}


#landing-container{
    min-height: 100px;
    width: 300px;
    background-color: rgb(140, 174, 249);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    font-weight: 700; 
    color: white;
    margin: auto;
}